.App {
  text-align: left;
  display: block;
}

.Navcontain{
  width: 100%;
  margin-left:50px;
}

.head{
  border-style: none none solid none;
  padding-bottom: 20px;
  padding-top: 10px;
  border-width: 1px;
  margin-right: 15px;
  color:gray;
  font-size: 20px;
  border-color: gray;
}

img{
  padding-left:10px;
  padding-right:10px;
}

.Main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.menu1 {
  display: block;
  text-align: left;
  text-decoration: none;
  color:white;
  margin-right:15px;
  margin-top:15px; 
  margin-bottom: 15px;
  padding-top: 10px;
  height: 45px;
  width: 275px;
  background-color:#3A81EC;
}

.menu2 {
  display: block;
  text-align: left;
  color:white;
  margin-right:15px;
  margin-top:15px;
  margin-bottom: 15px;
  padding-top: 15px;
  height: 45px;
  width: 275px;
  background-color:#F79F35;
}

.menu3 {
  display: block;
  text-align: left;
  text-decoration: none;
  color:white;
  margin-right:15px;
  margin-top:15px;
  margin-bottom: 15px;
  padding-top: 15px;
  height: 45px;
  width: 275px;
  background-color:#5DCD82;
}

.menu4 {
  display: block;
  text-align: left;
  color:white;
  margin-right:15px;
  margin-top:15px;
  margin-bottom: 15px;
  padding-top: 15px;
  height: 45px;
  width: 275px;
  background-color:#AE56F5;
}

.menu5 {
  display: block;
  text-align: left;
  color:white;
  margin-right:15px;
  margin-top:15px;
  margin-bottom: 15px;
  padding-top: 15px;
  height: 45px;
  width: 275px;
  background-color:#7FF233;
}

.menu6 {
  display: block;
  text-align: left;
  color:white;
  margin-right:15px;
  margin-top:15px;
  margin-bottom: 15px;
  padding-top: 15px;
  height: 45px;
  width: 275px;
  background-color:#F977EB;
}

.menu7 {
  display: block;
  text-align: left;
  color:white;
  margin-right:15px;
  margin-top:15px;
  margin-bottom: 15px;
  padding-top: 15px;
  height: 45px;
  width: 275px;
  background-color:#DAA729;
}